.box {
  width: 300px;
  height: 300px;
  /* Adjust the height as needed */
  background-color: rgba(0, 0, 0, 0);
  border-radius: 20px;
  overflow: hidden;
  /* Hide content that exceeds the box */
  display: flex;
  flex-direction: column;
  /* Stack children vertically */
  justify-content: flex-end;
  /* Align children to the bottom */
  /* border: 2px solid #000000; */
  transition: border-color 0.3s ease, transform 0.3s ease;
  margin: 20px;
}

.box:hover {
  border-color: rgb(0, 153, 255);
  transform: scale(1.05);
}

.box .logo {
  flex-grow: 1;
  /* Allow the .logo to take up most of the available space */
  display: flex;
  justify-content: center;
  align-items: center;
}

.box .logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  text-align: center;
}


.box a {
  text-decoration: none;
}

.box h2 {
  color: #ffffff;
  font-size: 20px;
}

.box p {
  color: #ffffff;
  font-size: 14px;
  margin-top: 10px;
}