.addtoListCon{
    padding: 30px;
}

.listcon{
    display: flex;
    flex-direction: column;
}

.listcon button{
    margin: 10px;
    cursor: pointer;
    border: none;
    font-size: 15px;
    border-radius: 5px;
    width: 100px;
    padding: 10px;
}

.newListButton{
    padding: 10px;
    border: none;
    font-size: 15px;
    border-radius: 5px;
    width: fit-content;
    cursor: pointer;
}