.page {
  color: black;
  height: 100%;
}

.overlay {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.898);
  /* Center horizontally */
  /* align-items: center; Center vertically */
  z-index: 1000;
  /* Ensure the overlay is above other content */
  width: 1100px;
  border-radius: 20px;

}

.upper-container {
  margin: 40px;
  height: fit-content;
  border-radius: 10px;
  display: grid;
  width: 90%;
  grid-template-columns: repeat(5, 1fr);
  /* 5 equal-width columns */
  grid-template-rows: repeat(3, 0.4fr);
  /* 3 equal-height rows */
}

.poster {
  /* background-color: rgb(237, 237, 0); */
  grid-area: 1 / 1 / -1 / 3;
  transition: transform 0.3s ease;
  border-radius: 5px;
  /* background-color: red; */
  margin-right: 30px;
}

.poster:hover {
  transform: scale(1.05);
}

.poster img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 10px;
  overflow: hidden;
}

.title {
  /* background-color: aqua; */
  grid-area: 1 / 3 / 2 / -1;
}

.title-content {
  /* background-color: red; */
  display: flex;
  /* margin-right: 10px; */
}

.title-content p {
  background-color: rgb(0, 51, 105);
  padding: 10px;
  margin-right: 15px;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  text-align: center;
  color: white;
  transition: transform 0.3s ease;
}

.title-content p:hover{
  transform: scale(1.05);
}

.title p {
  font-size: 17px;
}

.description {
  /* background-color: rgb(102, 252, 21); */
  font-size: 17px;
  grid-area: 2 / 3 / 3 / -1;
}

.usermenu {
  /* background-color: red; */
  grid-area: 3 / 3 / -1 / -1;
  display: flex;
}

.usermenu .icon {
  font-size: 2rem;
  color: black;
  transition: transform 0.3s ease;
  cursor: pointer;
  margin: 20px;
}

.usermenu .icon:hover {
  color: rgb(14, 114, 207);
  transform: scale(1.2);
}

.usermenu button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.lower-container {
 padding: 20px;
 padding-top: 0px;
}

.rec-movies-con {
  display: flex;
}

.box-con {
  border-radius: 20px;
  padding: 5px;
  margin: 0 auto;
}

.pagemenu {
  /* height: 300px; */
  width: 380px;
  color: white;
  background-color: rgba(0, 0, 0, 0.923);
  border-radius: 4%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  padding: 20px;
}

.ratecon{
}

.ratecon p {
  font-size: 20px;
  color: gold;
}

.displayrating {
  display: flex;
  align-items: center;
  transition: transform 0.3s ease;
}

.displayrating img {
  margin-right: 10px;
}

.displayrating:hover {
  transform: scale(1.1);
}

.popcorn1 {
  width: 30px;
  padding: 1px;
  cursor: pointer;
}

.trailer-con{

}